.App {
  display: grid;
  grid-template-rows: 10vh 90vh;
  grid-template-columns: 100vw;
}

.App > header {
  grid-column: 1 / span 1;
  background-color: #9daab6;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  position: relative;
}

.App > main {
  grid-column: 2 / span 1;
}
