.dropdown-wrapper {
  position: absolute;
  right: 3%;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  width: 9rem;
  background: #c3cfd8;
  z-index: 100;
  padding: 0.5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}

.dropdown-menu a,
.dropdown-menu button {
  text-decoration: none;
  padding: 0.5rem;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  width: 100%;
  display: block;
  font-size: 0.9rem;
  border-radius: 4px;
}

.dropdown-menu button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
  background: #a8b3bb;
}

.dropdown > .dropdown-btn:focus + .dropdown-menu {
  visibility: visible;
  transform: translateY(0);
}
