.landingPage {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.landing-svg__container {
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  position: relative;
}

.landing-svg {
  max-width: 50%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-content__container {
  text-align: center;
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
}

.landing-content__container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.landing-content__container p {
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

.landing-form__container {
  background-color: #dfe5eb;
  grid-row: 1 / span 3;
  grid-column: 4 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-content-btn__container {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .landingPage {
    grid-template-columns: 100%;
    grid-template-rows: 10% 30% 60%;
    height: 90vh;
    width: 100vw;
  }

  .landing-svg__container {
    grid-row: 2 / span 1;
  }

  .landing-content__container {
    grid-row: 3 / span 1;
  }

  .landing-content__container h1 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }

  .landing-content__container p {
    font-size: 1rem;
  }

  .landing-form__container {
    display: none;
  }

  .landing-content-btn__container {
    margin: 2rem 0 1rem 0;
    padding: 0 3rem 0 3rem;
    width: 100%;
    visibility: visible;
  }

  .landing-content__auth-btn {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    background-color: #c0cbd6;
    font-weight: 500;
    text-transform: uppercase;
  }

  .landing-content__auth-btn:active {
    background-color: #d3d9e0;
  }
}
